ion-content{
  text-align: center;
  align-items: center;
  .editRatingForm{
    box-shadow: 2px 2px 15px 5px black;
    border-radius: 15px;
    padding: 2vh;
    margin-top: 2vh;
    .title{
      font-size: 1.2rem;
      font-weight: bold;
    }
    ion-item{
      margin-top: 1vh;
      margin-bottom: 2vh;
    }
  }
}