ion-content{
    align-items: center;
    text-align: center;
    height: 100%;
    width: 100%;
    ion-button{       
        display: inline-block;
        margin-bottom: 2vh;
    }
    ion-text{         
        font-size: 0.7rem;
    }
    ion-grid{
        --ion-grid-column-padding: 0px;
    }
    .container{
        box-shadow: 1vh 1vh 20px black;
   
  
        border-radius: 50px;
        svg{
            
            width: 200px;
            height: 200px;
        }
        form{
            background-color: transparent;
            border-radius: 40px;
            padding: 2.5vh;
            ion-label{
                font-size: 0.9rem;
            }
            .heading{
                font-size: 1.5em;
                text-align: center;
            }

              
           
             
        }
         
            
        

    }
}


@media screen and (max-width: 768px) {
    svg{
      display: none;
    }
    
}