.header{
  width: 100%;
  display: inline-flex;
  .settings{
      float: right;
      margin-right: 5vh;
      cursor: pointer;
  }
}

ion-item{
  cursor: pointer;
}

ion-content{
  align-items: center;
  text-align: center;
  ion-grid{
    --ion-grid-column-padding: 10px;
  }
  .grid-box{
    background: #e9e9e9;
    height: 100%;
    width: 100%;
    border-radius: 1vh;
    padding: 2vh;
  }
}

@media (max-width: 768px) {
  ion-text{
    font-size: 0.7rem;
  }
  ion-title{
    font-size: 0.8rem;
  }
}
