<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="dark"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Contact Us
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col sizeLg="2.4" sizeMd="3" sizeSm="6" sizeXs="12">
        <ion-card>
          <img alt="Silhouette of mountains" src="https://static.wixstatic.com/media/b8c775_7634792e11824908a2d214bec49fb26f~mv2.png/v1/fill/w_207,h_370,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/EthanPic.png" />
          <ion-card-header>
            <ion-card-title>Ethan Lecuona</ion-card-title>
            <ion-card-subtitle>u17208344@tuks.co.za</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>
            Full-stack developer and documentation
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col sizeLg="2.4" sizeMd="3" sizeSm="6" sizeXs="12">
        <ion-card>
          <img alt="Silhouette of mountains" src="https://static.wixstatic.com/media/b8c775_9777b0e0da604916addd4424b4d43f19~mv2.jpg/v1/crop/x_649,y_0,w_2286,h_3935/fill/w_208,h_358,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/106.jpg" />
          <ion-card-header>
            <ion-card-title>Rudolph Richter</ion-card-title>
            <ion-card-subtitle>u19025336@tuks.co.za</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>
            Full-stack developer and documentation
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col sizeLg="2.4" sizeMd="3" sizeSm="6" sizeXs="12">
        <ion-card>
          <img alt="Silhouette of mountains" src="https://static.wixstatic.com/media/b8c775_6ebff8e17c954396a081751c617def20~mv2.png/v1/crop/x_0,y_6,w_237,h_412/fill/w_206,h_358,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/George.png" />
          <ion-card-header>
            <ion-card-title>George Fourie</ion-card-title>
            <ion-card-subtitle>u19354267@tuks.co.za</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>
            Full-stack developer and documentation
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col sizeLg="2.4" sizeMd="3" sizeSm="6" sizeXs="12">
        <ion-card>
          <img alt="Silhouette of mountains" src="https://static.wixstatic.com/media/b8c775_68025747b2d44a84a69db9184a3aa904~mv2.png/v1/fill/w_240,h_370,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/20210825_203453.png" />
          <ion-card-header>
            <ion-card-title>Emily Kappen</ion-card-title>
            <ion-card-subtitle>u20464364@tuks.co.za</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>
            Front-end developer, documentation and project manager
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col sizeLg="2.4" sizeMd="3" sizeSm="6" sizeXs="12">
        <ion-card>
          <img alt="Silhouette of mountains" src="https://static.wixstatic.com/media/b8c775_ba78cd7c978748dcb4c2f51d6be5abbb~mv2.jpg/v1/fill/w_207,h_370,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/IMG-20220731-WA0027.jpg" />
          <ion-card-header>
            <ion-card-title>Fabio Wood</ion-card-title>
            <ion-card-subtitle>u04869461@tuks.co.za</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>
            Front-end developer and documentation
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- <div class="ul">
    <ion-card></ion-card>
    <div class="booking-card" style="background-color: rgb(152, 152, 226);">
        <div class="book-container">
          <p class="main-tile">Booking</p>
          <div class="content">
            <button class="btn">CLICK HERE</button>
          </div>
        </div>
        <div class="informations-container">
          <ion-icon name="create"></ion-icon>
          <br>
          <h2 class="title"><strong>BOOKING</strong></h2>
          <br>
          <p class="sub-title">Adding a booking for a parcel or event</p>
        </div>
      </div>
  </div> -->

</ion-content>
