<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">  
      <ion-menu-button color="dark"></ion-menu-button>   
    </ion-buttons> 
    <!-- <ion-buttons slot="end" id="helpicon">
      <ion-button [routerLink]="['help','add-rating']" color="dark"><ion-icon name="help-outline"></ion-icon></ion-button>
    </ion-buttons> -->
    <ion-title>Add Rating</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col sizeLg="4" sizeMd="4" sizeSm="3" sizeXs="0" class="spacer"></ion-col>
      <ion-col sizeLg="4" sizeMd="4" sizeSm="6" sizeXs="12">
        <form [formGroup]="addRatingForm" class="addRatingForm">
          <label class="title" font-weight="bold">Add Rating</label>
          <ion-item class="add-rating">
            <ion-label position="floating">Rating</ion-label>
            <ion-input  type="text" autocapitalize="words" formControlName="rating"></ion-input>
          </ion-item>
          <br>
                <div *ngIf="addRatingForm.get('rating').invalid && (addRatingForm.get('rating').dirty || addRatingForm.get('rating').touched)"class="alert alert-danger">
                  <label id="errortext">Rating required.</label>
                </div>
                <br>
          <ion-button expand="block" color="success" [disabled]="!addRatingForm.valid" (click)="addAlert()">Add</ion-button>
          <ion-button expand="block" color="primary" href="driver">Cancel</ion-button>
        </form>
      </ion-col>
      <ion-col sizeLg="4" sizeMd="4" sizeSm="3" sizeXs="0" class="spacer"></ion-col>
    </ion-row>
    <ion-row>
      <ion-col sizeLg="4" sizeMd="4" sizeSm="3" sizeXs="0" class="spacer"></ion-col>
      <ion-col sizeLg="4" sizeMd="4" sizeSm="6" sizeXs="12">
        <ion-searchbar class="searchBar" placeholder="Search" [(ngModel)]="searchTerm" showCancelButton="focus" animated="true"></ion-searchbar>
      </ion-col>
      <ion-col sizeLg="4" sizeMd="4" sizeSm="3" sizeXs="0" class="spacer"></ion-col>
    </ion-row>
    <ion-row>
      <ion-col sizeLg="3" sizeMd="3" sizeSm="2" sizeXs="0" class="spacer"></ion-col>
      <ion-col sizeLg="6" sizeMd="6" sizeSm="8" sizeXs="12" class="the-table">

          <ion-grid id="companyGrid" class="ion-text-center table">
            <ion-row>
              <ion-col class="table-main">
                <ion-title>
                  <ion-text color="default">Ratings</ion-text>
                </ion-title>
              </ion-col>
            </ion-row>
              <ion-row class="table-header">
              <ion-col class="table-col" size="6">
                <ion-text>Rating</ion-text>
              </ion-col>
              <ion-col class="table-col" size="6">
                <ion-text>Remove Rating</ion-text>
              </ion-col>
            </ion-row>
            <ion-row class="table-row" *ngFor="let r of ratingList | filter: searchTerm">
              <ion-col class="table-col" size="6">
                <ion-text>{{r.rating1}}</ion-text>
              </ion-col>
              <ion-col class="table-col" size="6">
               <ion-button expand="block" color="secondary" [routerLink]="['/driver/rating/edit-rating', r.ratingId]">Edit Rating</ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>

      </ion-col>
      <ion-col sizeLg="3" sizeMd="3" sizeSm="2" sizeXs="0" class="spacer"></ion-col>
    </ion-row>
  </ion-grid>




</ion-content>